.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101214;
    color: #7A7C80;

}

h2,.white{
    color: white;
}

a{
    color: #7A7C80;
    text-decoration: none;
}
/* left side styling */
.left-side{
    padding-top: 40vh;
    text-align: center;
}

.left-side p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.left-side h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.left-side a{
    font-size: 1.5rem;
    padding: 10px;
}

#btn {
  border: 2px solid #7A7C80;
  border-radius: 25%;
  text-decoration: none;
}

/* right side styling */
.right-side{
    padding-top: 10vh;
    width: 70%;
}

.right-side h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.right-side p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.right-side ul{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
}

.left-side a:hover{
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.white:hover{
    position: relative;
    padding-left: 10px;
}

.avatar img {
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  width: 240px;
  height: 240px;
}
